<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            {{#if anotacion}}
            <h1>Editar Anotacion</h1>
            {{else}}
            <h1>Nueva Anotacion</h1>
            {{/if}}
            <a class="btn btn-lg btn-outline-primary" href="/anotacion">Volver</a>
        </div>
        <div class="card-body">
            {{#if anotacion}}
            <form id="" action="/anotacion?_method=PUT" method="POST" enctype="application/json">
                <input
                    type="hidden"
                    name="_id"
                    value="{{anotacion._id}}"
                >
            {{else}}
            <form id="" action="/anotacion" method="POST" enctype="application/json">
            {{/if}}
                <div class="form-group">
                    <input
                        class="form-control"
                        type="text"
                        name="titulo"
                        placeholder="Titulo"
                        required
                        minlength="1"
                        value="{{anotacion.titulo}}"
                    >
                </div>

                <div class="form-group">
                    <textarea
                        class="form-control"
                        type="text"
                        name="texto"
                        placeholder="Texto"
                        required
                        rows="10"
                        cols="250"
                    >{{anotacion.texto}}</textarea>
                </div>

                <div class="form-group">
                    <select
                        name="etiquetas"
                        type="text"
                        class="form-control"
                        placeholder="Etiquetas"
                        required
                        multiple
                    >
                        {{#each anotacion.etiquetas}}
                            <option selected>{{this}}</option>
                        {{/each}}
                    </select>
                </div>

                <div class="input-group">
                    <input
                        class="form-control"
                        type="text"
                        placeholder="Nueva etiqueta"
                    >
                    <button
                        class="btn btn-info"
                        type="button"
                        onclick="if($(this).prev().val().trim())$('[name=etiquetas]').append(`<option selected>${$(this).prev().val().trim()}</option>`);$(this).prev().val('')"
                    >Agregar etiqueta</button>
                </div>

                <div class="mt-3">
                    <button
                        class="btn btn-success btn-lg w-100"
                        type="submit"
                    >Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
