<div class="container">
    <div class="card shadow-lg">
        <div class="card-header">
            <h1>Anotaciones</h1>
            <a class="btn btn-lg btn-outline-primary" href="/anotacion/nueva">Agregar</a>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <th>Titulo</th>
                    <th>Modificación</th>
                    <th>Etiquetas</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    {{#each anotaciones}}
                    <tr>
                        <td>{{this.titulo}}</td>
                        <td>{{this.modificacion}}</td>
                        <td>
                            {{#each this.etiquetas}}
                                <span class="etiqueta">{{this}}</span>
                            {{/each}}
                        </td>
                        <td>
                            <a href="/anotacion/editar/{{this._id}}">Editar</a>
                            {{!-- Eliminar --}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
