body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.etiqueta {
  display: inline-block;
  border-radius: 0.5em;
  border: thin solid;
  padding: 0 0.5em;
}
